<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631966649018-2abavj7vvhgg5f84qn6qqverub4ir90k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631966649018-2abavj7vvhgg5f84qn6qqverub4ir90k</string>
	<key>API_KEY</key>
	<string>AIzaSyATcYiOIoSU6nZfD8jj_lRy6VXh7aCSVsM</string>
	<key>GCM_SENDER_ID</key>
	<string>631966649018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Memes.app</string>
	<key>PROJECT_ID</key>
	<string>memes-1d7a1</string>
	<key>STORAGE_BUCKET</key>
	<string>memes-1d7a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631966649018:ios:a7b76940c0973b3bb71083</string>
</dict>
</plist>